.Todo {
  border: 2px solid gray;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
  width: 80%;
}

.TodoTitle {
  font-size: large;
  font-weight: 500;
}

.TodoUrl {
  color: navy;
  text-decoration: none;
}